In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
prets = pd.read_csv("../files/prets.csv")
prets.head(3)

,identifiant,ville,CP,revenu,remboursement,duree,type,taux
0,0,TOULOUSE,31100,3669.0,1130.05,240,immobilier,1.168
1,1,PARIS,75009,5310.0,240.00,64,automobile,3.701
2,1,PARIS,75009,5310.0,1247.85,300,immobilier,1.173